{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>

<body>
    {% block content %}
    <main>
        <div>
            <h1>{{ detail.name }}</h1>
            <p>{{ detail.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if not detail.tasks.all %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    <thead>
                    <tbody>
                        {% for detail in details.tasks.all %}
                        <tr>
                            <td>{{ detail.name }}</td>
                            <td>{{ detail.assignee }}</td>
                            <td>{{ detail.start_date }}</td>
                            <td>{{ detail.due_date }}</td>
                            <td>{{ detail|yesno }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
                </thead>
            </table>
            {% else %}
            <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
    {% endblock content %}
</body>

</html>